
.cover-container {
    max-width: 60vw;
}

.nav-link {
    position: center;
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover{
    color: rgba(255,255,255,0.5);
    border-bottom-color:rgba(255,255,255,0.5);
}

.nav-link.active {
    color: white;
    border-bottom-color:white;

}

.btn-secondary, .btn-secondary:hover{
    color: #333;
    text-shadow: none;
}

.slides-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
}
.slides-navigation .prev,
.slides-navigation .next{
    width:60px;
    height:60px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation a.prev{
    left: 20px;
    background-image: url(../img/icons/leftarrow.png);
}

.slides-navigation a.next{
    right: 20px;
    background-image: url(../img/icons/rightarrow.png);
}

.slides-titleMessage{
    z-index: 5;
    text-align: center;
    height: 250px;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -125px;
}
.slides-titleMessage .slides-heading p{
    color: #fff;
    text-shadow: 0px 2px 5px rgb(0 0 0 / 40%);
    font-weight: 100;
    letter-spacing: 7px;
}

.slides-container img{
    max-height: 100em;
}